:root {
  --primary: #ff7f00;
}
body {
  overflow-x: hidden;
  /* font-family: outfit; */
  background-color: #efefef;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1010;
}

/* ================================================================= */
nav {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
}
/* ================================================================= */
.heroes {
  position: relative;
  background: #ff7f00;
  background: linear-gradient(45deg, #ff7f00 15%, #673400 95%);
  height: 100vh;
  font-family: outfit;
}
.heroes .social-media {
  position: absolute;
  right: 0;
  top: calc(50vh - 8rem);
  display: flex;
  flex-direction: column;
  background: blueviolet;
  /* gap: 0.25rem; */
  border-radius: 0.5rem 0 0 0.5rem;
}
.heroes .social-media a {
  padding: 0.75rem;
  text-decoration: none;
  color: white;
  transition: 1s;
}

.heroes h1 {
  font-weight: 700;
  font-size: 44px;
  text-shadow: 0 3px 4px rgba(0, 0, 0, 0.5);
}
/* ================================================================= */
.product .card {
  background: rgb(240, 240, 240);
  color: #ff7f00;
  transition: 300ms;
  position: relative;
  overflow: hidden;
  font-family: outfit;
  /* background: linear-gradient(45deg, #ff7f00 15%, #673400 95%); */
}
.product .card * {
  z-index: 12;
}
.product .card::before {
  content: "";
  width: 70px;
  height: 70px;
  top: -35px;
  left: -35px;
  background: #ff7f00;
  background: linear-gradient(135deg, rgba(0, 0, 0, 1) 0%, #ff7f00 100%);
  position: absolute;
  border-radius: 30%;
  transition: 500ms;
  filter: blur(2px);
  /* z-index: -1; */
}
.product .card:hover {
  color: white;
  /* background-color: #ff7f00; */
}
.product .card:hover::before {
  filter: blur(0);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 0;
}

/* ================================================================= */
.gallery {
}
.gallery .card {
  background: white;
  backdrop-filter: blur(10px);
  max-width: 20rem;
}
.gallery .card .card-body {
  padding: 0.5rem;
}
.gallery .card .card-img {
  aspect-ratio: 1/1;
  background: red !important;
}

/* ================================================================= */
.partner {
}

.partner img {
  width: 7rem;
}

/* ================================================================= */
.contact {
  font-family: outfit;
}
.contact form {
}
.contact .maps {
  background: grey;
  width: 100%;
  min-height: 15rem;
  height: calc(100% - 1.5rem);
  border-radius: 0.5rem;
  border: 0.5rem solid lightgray;
}

/* ================================================================= */
section > div {
  padding-block: 2rem;
}
.section-2 {
  background: #ff8000;
  color: white;
}
.section-title {
  margin-bottom: 3rem;
  margin-inline: auto;
  /* color: #ff7f00; */
  font-family: outfit !important;
  font-weight: bolder;
  position: relative;
}
.section-title::after {
  content: "";
  display: block;
  width: 9rem;
  height: 2px;
  position: absolute;
  border-radius: 1rem;
  left: calc(50% - 4.5rem);
  background-color: #ff7f00;
}
.section-2 .section-title {
  color: white;
}
.section-2 .section-title::after {
  background: white;
}

/* ================================================================= */
@media only screen and (max-width: 768px) {
  .heroes h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  .heroes p {
    text-align: justify;
  }
}
